
@font-face {
    font-family: 'Myriadpro';
    src: url("../Recursos/Fuentes/Myriadpro/myriadpro.ttf");
  }

*
{
    box-sizing: border-box;
    font-family: 'Myriadpro';
}

body
{
    margin: 0px;
    padding: 0px;
    /* max-width: 1200px; */
    margin: 0 auto;
}

#contenedorPrincipal
{
    margin: 0 auto;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    border: 1px solid lightgray;
}

.general
{
    margin: 0 auto;
    /* max-width: 1200px; */
}

#headerPrincipal
{
    height: 120px;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    
}


/***************** Header superior *******************/
#headerSuperior
{
    height: 60%;
}

#logo
{
    margin: 5px 20px;
    height: 80%;
    vertical-align: middle;
    align-items: center;
}

#barraBuscar
{
    height: 40px;
    width: 75%;
    border-radius: 5px;
    font-family: "fontellofull";
    font-size: large;
}

#headerSuperiorDerecho
{
    display: inline-flex;
    vertical-align: middle;
    /* Centra los elementos dentro */
    align-items: center; 
    
}

#iconoCarritoCompras
{
    
    vertical-align: middle;
    font-size: 22px;
    color: #3f3f3f;
}

#btnIniciarSesion
{
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    padding: 5px;
    cursor: pointer;
    color: #3f3f3f;
    font-size: 15px;
}

#iconoUsuario
{
    color: #3f3f3f;
    font-size: large;
}
/************************************/


/***************** Header inferior *******************/
#headerInferior
{
    height: 40%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#headerInferiorIzquierdo
{
    float: left;
    align-items: center; 
    height: 100%;
    display: flex;
}

#headerInferiorDerecho
{
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
}

.labelsHeader
{
    margin: 0 10px ;
    font-size: medium;
}

.labelEnlazable
{
    
    color: blue;
    text-decoration: underline;
}

/************************************/


/***************** Barra lateral derecha *******************/
.barraLateral
{
    /* border: 3px solid green; */
    float: right;
    width: 30%;
    height: 500px;
}

#formularioPago
{
    background-color: white;
    margin: 10px;
    padding: 5px;
}

#tituloFormulario
{
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0px;
}

#formularioSuperior
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.formularioSubtitulos
{
    font-size: medium;
    margin: 5px 0;
}

#modoEntrega
{
    background-color: white;
    height: 25px;
    font-size: 15px;
}

.entradaTexto
{
    background-color: white;
    height: 30px;
    font-size: 15px;
}

#tabla
{
    width: 100%;
}

.filasFormulario
{
    height: 35px;
}

.columnaDos
{
    text-align: right; /* Alinea los elementos adentro hacia la derecha. */
}

.labelsTotal
{
    font-size: large;
    font-weight: bold;
    color: #1f468e;
}

#botonPagar
{
    background-color: #1f468e;
    color: white;
    width: 100%;
    height: 40px;
    margin: 20px 0px;
    border: 1px solid #1f468a;
    cursor: pointer;
}

/************************************/


/***************** Main *******************/
.main
{
    /* border: 3px solid red; */
    float: left;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    height: 500px;
    border-right: 1px solid lightgrey;
    
}

#listaArticulos
{
    height: 100%;
    width: 100%;
}

#tablaArticulos
{
    width: 100%;
    border-bottom: 1px solid lightgrey;
    
}

.filasArticulos
{
    width: 100%;
}

#columnaArticulosUno
{
    width: 15%;
}

#imagenArticulo
{
    width: 90%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#columnaArticulosDos
{
    width: 55%;
}

#columnaArticulosTres
{
    width: 25%;
}

#colArtTresContenedor
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    justify-content: space-around;
    height: 40px;
}

.colArtTresizquierdo
{
    align-content: center;
    display: flex;
}

.botonesCantidad
{
    background-color: white;
    height: 100%;
    width: 40px;
    color: lightblue;
    margin: 0px;
    padding: 0px;
    border: 1px solid lightgray;
    cursor: pointer;
}

#cantidadProducto
{
    width: 50px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
}

#btnEliminar
{
    background-color: transparent;
    border: transparent;
    font-size: 18px;
    cursor: pointer;
}

.txtDetallesArticulo
{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

#precioArticulo
{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.letrasPequenas
{
    font-size: 10px;
    font-weight: normal;
    cursor: pointer;
}

/************************************/