@font-face {
  font-family: "Myriadpro";
  src: url("../Recursos/Fuentes/Myriadpro/myriadpro.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Myriadpro";
}

body {
  margin: 0px;
  padding: 0px;
  /* max-width: 1200px; */
  margin: 0 auto;
  font-size: 15px;
  line-height: 19px;
  height: 100%;
}

#contenedorPrincipal {
  margin: 0 auto;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  border: 1px solid lightgray;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  /* background-color: khaki; */
}

.general {
  margin: 0 auto;
  margin-top: 99px;
}

#headerPrincipal {
  height: 100px;
  width: 100%;
  margin: 0 auto;

  position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/***************** Header inferior *******************/
#headerInferior {
  height: 50%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

  background-color: white;
  /* margin-top: 48px; */
}

#headerInferiorIzquierdo {
  float: left;
  align-items: center;
  height: 100%;
  display: flex;
}

#headerInferiorIzquierdo .labelsHeader
{
  font-weight: bold;
}

#headerInferiorDerecho {
  align-items: center;
  display: flex;
  float: right;
  height: 100%;
}

#headerInferiorDerecho > .labelsHeader
{
  cursor: pointer;
}

.labelsHeader {
  margin: 0 10px;
  font-size: medium;
}

.labelEnlazable {
  color: #20468d;
  text-decoration: underline;
}

/************************************/

/*****************Total para versiones moviles*******************/
#headerContenedorBtnProcesarPago
{
  display: none;
  width: 100%;
  justify-content: center;
}

div#headerContenedorBtnProcesarPago div
{
  align-items: center;
  display: flex;
  float: left;
  height: 30%;
  margin: 0px;
}


/************************************/

/***************** Barra lateral derecha *******************/
.barraLateral {
  float: right;
  width: 30%;
  /* height: 500px; */

  border-left: 1px solid lightgrey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

#formularioPago {
  background-color: white;
  margin: 10px;
  /* padding: 5px; */
}

#tituloFormulario {
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0px;
}

#formularioSuperior {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formularioSubtitulos {
  font-size: medium;
  margin: 5px 0;
}

#modoEntrega {
  background-color: white;
  font-size: 15px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid lightgray;
}

.entradaTexto {
  background-color: white;
  font-size: 15px;
  height: 35px;
  border-radius: 2px;
  border: 1px solid lightgray;
}

#tabla {
  width: 100%;
}

.filasFormulario {
  height: 35px;
}

.columnaDos {
  text-align: right; /* Alinea los elementos adentro hacia la derecha. */
}

.labelsTotal {
  font-size: large;
  font-weight: bold;
  color: #20468d;
}

#botonPagar, #btnProcesarPago {
  background-color: #20468d;
  color: white;
  width: 100%;
  height: 40px;
  margin: 20px 0px;
  border-radius: 2px;
  border: 1px solid #20468d;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
}

#spinner
{
  visibility: hidden;
  /* visibility: hidden; */
}

/************************************/

/***************** Main *******************/
.main {
  /* border: 3px solid red; */
  float: left;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  height: 500px;
}

#listaArticulos {
  height: 100%;
  width: 100%;
}

#tablaArticulos {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.filasArticulos {
  width: 100%;
  height: 160px;
}

#columnaArticulosUno {
  /* width: 15%; */
  width: 180px;

  min-width: 150px;
}

#imagenArticulo {
  width: 90%;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  object-fit: cover;
}

#columnaArticulosDos {
  width: 55%;
  min-width: 250px;
}

#columnaArticulosTres {
  width: 25%;
  min-width: 140px;
}

#colArtTresContenedor {
  display: flex;
  float: right;
  margin: 0 auto;
  height: 40px;
}

.colArtTresizquierdo {
  align-content: center;
  display: flex;
  height: 100%;
}

.botonesCantidad {
  background-color: white;
  height: 100%;
  width: 40px;
  color: #20468d;
  margin: 0px;
  padding: 0px;
  border: 1px solid lightgray;
  border-radius: 2px;
  cursor: pointer;
}

#cantidadProducto {
  width: 50px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: white;
  border: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: transparent;
  border-right: transparent;
  border-radius: 2px;
}

#btnEliminar {
  background-color: transparent;
  border: transparent;
  font-size: 18px;
  cursor: pointer;
}

#filaBotones
{
  display: none;
}

.txtDetallesArticulo {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

#precioArticulo {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.letrasPequenas {
  font-size: 10px;
  font-weight: normal;
  cursor: pointer;
}

/************************************/

/******************************Media query**************************************/

@media (max-width: 320px) {
  /* #contenedorPrincipal {
    background: lightgoldenrodyellow;
  } */

  #columnaHeaderSupTres {
    width: 50px;
  }
  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  .labelsHeader,
  #opcionesOrdenar {
    font-size: small;
  }

  .barraLateral {
    display: none;
  }

  .main {
    width: 100%;
  }
  #headerContenedorBtnProcesarPago
  {
    display: inline-block;
  }

  #btnProcesarPago
  {
    margin: 10px 0px;
  }

  div.w3-container > span
  {
    margin-top: 50px;
  }

  div.w3-container > #formularioPago
  {
    margin-top: 65px;
  }

  #columnaHeaderSupTres {
    width: 50px;
  }
  
  #columnaArticulosUno {
    width: 10%;
    min-width: 100px;
  }
  
  table#tablaArticulos tbody #filaBotones
  {
    display: table-row;
    height: 50px;
  }
  
  #columnaArticulosDos {
    min-width: 100px;
  }
  .txtDetallesArticulo, #precioArticulo
  {
    font-size: 14px;
  }

  #colArtTresContenedor
  {
    justify-content: left;
    float: left;
  }

  #columnaArticulosTres {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 479px) {
  /* #contenedorPrincipal {
    background: lightblue;
  } */

  #columnaHeaderSupTres {
    width: 50px;
  }
  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  .barraLateral {
    display: none;
  }

  .main {
    width: 100%;
  }

  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  #headerContenedorBtnProcesarPago
  {
    display: inline-block;
  }

  #btnProcesarPago
  {
    margin: 10px 0px;
  }

  div.w3-container > span
  {
    margin-top: 50px;
  }

  div.w3-container > #formularioPago
  {
    margin-top: 65px;
  }

  #columnaHeaderSupTres {
    width: 50px;
  }
  
  #columnaArticulosUno {
    width: 10%;
    min-width: 100px;
  }
  
  table#tablaArticulos tbody #filaBotones
  {
    display: table-row;
    height: 50px;
  }
  
  #columnaArticulosDos {
    min-width: 100px;
  }
  .txtDetallesArticulo, #precioArticulo
  {
    font-size: 14px;
  }

  #colArtTresContenedor
  {
    justify-content: left;
    float: left;
  }

  #columnaArticulosTres {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 730px) {
  /* #contenedorPrincipal {
    background: #f00;
  } */

  .barraLateral {
    display: none;
  }
  .main {
    width: 100%;
  }

  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  #headerContenedorBtnProcesarPago
  {
    display: inline-block;
  }

  #btnProcesarPago
  {
    margin: 10px 0px;
  }

  div.w3-container > span
  {
    margin-top: 50px;
  }

  div.w3-container > #formularioPago
  {
    margin-top: 65px;
  }

  #columnaHeaderSupTres {
    width: 50px;
  }
  
  #columnaArticulosUno {
    width: 10%;
    min-width: 100px;
  }

  table#tablaArticulos tbody #filaBotones
  {
    display: table-row;
    height: 50px;
  }

  #colArtTresContenedor
  {
    justify-content: left;
    float: left;
  }

  #columnaArticulosTres {
    display: none;
  }
}

@media (min-width: 731px) and (max-width: 765px) {
  /* #contenedorPrincipal {
    background: rgb(7, 98, 134);
  } */

  #headerContenedorBtnProcesarPago
  {
    display: inline-block;
  }

  #btnProcesarPago
  {
    margin: 10px 0px;
  }

  div.w3-container > span
  {
    margin-top: 50px;
  }

  div.w3-container > #formularioPago
  {
    margin-top: 65px;
  }

  #columnaHeaderSupTres {
    width: 50px;
  }
  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  .barraLateral {
    display: none;
  }

  .main {
    width: 100%;
  }

  #columnaArticulosTres {
    display: none;
  }
  
  #columnaArticulosUno {
    width: 15%;
  }
  table#tablaArticulos tbody #filaBotones
  {
    display: table-row;
    height: 50px;
  }

  #colArtTresContenedor
  {
    justify-content: left;
    float: left;
  }
}

@media (min-width: 766px) and (max-width: 840px) {
  /* #contenedorPrincipal {
    background: lightsalmon;
  } */

  .barraLateral {
    display: none;
  }

  .main {
    width: 100%;
  }

  #headerContenedorBtnProcesarPago
  {
    display: inline-block;
  }

  #btnProcesarPago
  {
    margin: 10px 0px;
  }

  div.w3-container > span
  {
    margin-top: 50px;
  }

  div.w3-container > #formularioPago
  {
    margin-top: 65px;
  }

  #columnaHeaderSupTres {
    width: 50px;
  }

  #columnaArticulosTres {
    display: none;
  }
  
  #columnaArticulosUno {
    width: 15%;
  }
  table#tablaArticulos tbody #filaBotones
  {
    display: table-row;
    height: 50px;
  }

  #colArtTresContenedor
  {
    justify-content: left;
    float: left;
  }
}

@media (min-width: 841px) and (max-width: 942px) {
  /* #contenedorPrincipal {
    background: lightgoldenrodyellow;
  } */

  #columnaArticulosUno {
    width: 15%;
  }
  #columnaArticulosTres {
    display: none;
  }

  table#tablaArticulos tbody #filaBotones
  {
    display: table-row;
    height: 50px;
  }

  #colArtTresContenedor
  {
    justify-content: left;
    float: left;
  }
}

@media (min-width: 943px) and (max-width: 999px) {
  /* #contenedorPrincipal {
    background: limegreen;
  } */

  #columnaArticulosTres {
    display: none;
  }
  
  #columnaArticulosUno {
    width: 15%;
  }
  table#tablaArticulos tbody #filaBotones
  {
    display: table-row;
    height: 50px;
  }

  #colArtTresContenedor
  {
    justify-content: left;
    float: left;
  }
}

/* @media (min-width: 1000px) and (max-width: 1099px) {
  #contenedorPrincipal {
    background: #ff0;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  #contenedorPrincipal {
    background: rgb(255, 0, 76);
  }
}

@media (min-width: 1200px) and (max-width: 1313px) {
  #contenedorPrincipal {
    background-color: lightcoral;
  }
}

@media (min-width: 1314px) and (max-width: 1400px) {
  #contenedorPrincipal {
    background-color: lightseagreen;
  } 
}
*/
