/* Estilo creado para el header superior que es compartido en varias vistas */


/***************** Header superior *******************/
#headerSuperior {
    height: 60%;
    box-sizing: border-box;
    background-color: lightgray;
  }
  
  #tablaHeaderSuperior {
    width: 100%;
    height: 100%;
  }
  
  #columnaHeaderSupUno {
    width: 120px;
  }
  
  #columnaHeaderSupTres {
    width: 170px;
  }
  
  .contenedorLogo {
    /* Centra los elementos dentro */
    align-items: center;
    width: 120px;
    height: 100%;
    display: inline-flex;
    vertical-align: middle;
  }
  
  #logo {
    height: auto;
    min-width: 90px;
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
    border-radius: 2px;
  }
  
  .contenedorBarraBuscar {
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
    /* Centra los elementos dentro */
    align-items: center;
    float: inherit;
    height: 100%;
  }
  
  #barraBuscar {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    font-family: "fontellofull";
    font-size: large;
  }
  
  /*Para centrar los elementos internos de un componente con float, es necesario ocupar el 100% de la altura*/
  #headerSuperiorDerecho {
    height: 100%;
    display: flex;
    align-self: center;
    /* Centra los elementos dentro */
    align-items: center;
    width: 170px;
    float: right;
  }
  
  #iconoCarritoCompras {
    margin: 5px;
    vertical-align: middle;
    font-size: 22px;
    color: #3f3f3f;
  }
  
  #btnIniciarSesion {
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    padding: 5px;
    cursor: pointer;
    color: #3f3f3f;
    font-size: 15px;
    text-align: left;
  }
  
  #iconoUsuario {
    color: #3f3f3f;
    font-size: 20px;
  }
  
  /************************************/