
@font-face {
    font-family: 'Myriadpro';
    src: url("../Recursos/Fuentes/Myriadpro/myriadpro.ttf");
  }

*
{
    box-sizing: border-box;
    font-family: 'Myriadpro';
}

body
{
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 19px;
}

#contenedorPrincipal
{
    margin: 0 auto;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    border: 1px solid lightgray;
    width: 100%;
}

.general
{
    width: 100%;
}

#headerPrincipal
{
    height: 120px;
    width: 100%;
    margin: 0 auto;
}

/***************** Header superior *******************/
#headerSuperior
{
    height: 60%;
    box-sizing: border-box;
}

.contenedorLogo
{
    
    /* Centra los elementos dentro */
    align-items: center;
    width: 8%;
    height: 100%;
    display: inline-flex;
    vertical-align: middle;
}

#logo
{
    height: auto;
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
}

.contenedorBarraBuscar
{
    height: 40px;
    width: 75%;
    display: inline-flex;
    vertical-align: middle;
    /* Centra los elementos dentro */
    align-items: center; 
}

#barraBuscar
{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-family: "fontellofull";
    font-size: large;
}

#headerSuperiorDerecho
{
    display: inline-flex;
    vertical-align: middle;
    /* Centra los elementos dentro */
    align-items: center;
    background-color: darkgray;
}

#iconoCarritoCompras
{
    margin: 5px;
    vertical-align: middle;
    font-size: 22px;
    color: #3f3f3f;
}

#btnIniciarSesion
{
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    padding: 5px;
    cursor: pointer;
    color: #3f3f3f;
    font-size: 15px;
}

#iconoUsuario
{
    color: #3f3f3f;
    font-size: large;
}

/************************************/


/***************** Header inferior *******************/
#headerInferior
{
    height: 40%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#headerInferiorIzquierdo
{
    float: left;
    align-items: center; 
    height: 100%;
}

#iconoConfFiltros
{
    margin: 5px 5px 5px 20px;
    height: 35px;
    vertical-align: middle;
    align-items: center;
    background-color: lightgray;
    color: grey;
    border-radius: 5px;
    border: 2px solid transparent;
}

#headerInferiorDerecho
{
    float: right;
    align-items: center;
    height: 100%;
    display: flex;
}

.labelsHeader
{
    margin: 0px 5px ;
    font-size: medium;
}

#opcionesOrdenar
{
    margin: 0 8px;
    border: 1px solid rgb(31, 70, 141);
    border-radius: 5px;
    font-size: medium;
}

/************************************/


/***************** Barra lateral *******************/
.barraLateral
{
    float: left;
    width: 15%;
}

.barraLateralSecciones
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
}

.lblBarraLateral
{
    margin: 5px;
    font-weight: bold;
}

.lblCkechbox
{
    vertical-align: middle;
}

.cbox
{
    
    padding: 0px;
    background-color: white;
    vertical-align: top;
}

.clasificacion
  {
      margin: 0px;
      padding: 0px;
      align-items: center;
      display: flex;
  }
  .estellaNaranja
  {
      color: orange;
      margin: 0px;
      padding: 0px;
      font-size: small;
      font-weight: bolder;
      vertical-align: middle;
  }

  .estellaVacia
  {
    margin: 0px;
    padding: 0px;
    color: orange;
    font-size: small;
    font-weight: bolder;
   }

/************************************/


/***************** Main *******************/
.main
{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-left: 1px solid lightgrey;
}

.seccionArticulos
{
    float: right;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    overflow: visible;
}

.articulo
{
    height: 430px;
    width: 260px;
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.slide-container{
    position:relative;
    margin:auto;
    height: 60%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    /* background-color: blueviolet; */
    align-content: center;
    }

    .Slides{
        display:none;
        /* background-color: crimson; */
        width: 100%;
        height: 100%;
        align-content: center;
        padding: 10px;
    }


.imgArticulo
{
    /* height: 60%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    background-color: blue; */

    /* position:relative;
    margin:auto;
    height: 60%;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    text-align: center; */

}

#imgArticulo
{
    width: 90%;
    /* object-fit: contain; */
    /* display: block;
    margin: 0 auto;
    text-align: center; */

    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


    #primeroSlider
    {
        display: block;
    }
    .prev, .next{
        cursor:pointer;
        position:absolute;
        top:50%;
        width:auto;
        margin-top:-22px;
        padding:16px;
        color:black;
        font-weight:bold;
        font-size:18px;
        transition:0.6s ease;
        border-radius:0 3px 3px 0;
    }
    .next{
        right:0;
        border-radius:3px 0 0 3px;
    }

    .fade{
        -webkit-animation-name:fade;
        -webkit-animation-duration:1.5s;
        animation-name:fade;
        animation-duration:1.5s;
    }

    @-webkit-keyframes fade{
        from{opacity:.4}
        to{opacity:1}
    }

    @keyframes fade{
        from{opacity:.4}
        to{opacity:1}
    }













.detallesArticulo
{
    height: 39%;
    margin-bottom: 5px;
    margin: 0px 5px;
}

.detallesArticuloSuperior
{
    height: 75%;
    padding: 10px 0px;
}

.txtDetallesArticulo
{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
}

#detallesArticuloValoracion
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 0px;
}

#txtEstrellasArticulo
{
    padding: 0px;
    margin: 0px;
    align-items: center;
    display: flex;
}

#detallesArticuloValoracion #txtEstrellasArticulo .estellaNaranja
{
    align-items: center;
}

#lblExistencias
{
    color: maroon;
}

#precioArticulo
{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.letrasPequenas
{
    font-size: 10px;
    font-weight: normal;
}

.detallesArticuloInferior
{
    height: 20%;
    display: flex;
}

.detArtInferiorDerecho
{
    width: 55%;
    display: flex;
    align-content: center;
    
}

.btnCantidad
{
    background-color: white;
    height: 100%;
    width: 40px;
    text-align: center;
    color: lightblue;
    margin: 0px;
    padding: 0px;
    border: 1px solid lightgray;
    cursor: pointer;
}

#cantidadProducto
{
    background-color: white;
    height: 100%;
    width: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 1px solid lightgray;
}

#btnAgregar
{
    background-color: #1f468e;
    height: 100%;
    width: 45%;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #1f468a;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
}



/************************************/

/*********************Paginación*********************/

.paginacion
{
    width: 100%;
    height: 50px;
    padding: 10px 14px!important;
}

.a-texto-centrado {
    text-align: center;
}

ul.a-paginacion {
    display: inline-block;
    margin-left: 0;
    margin: 0px;
}

ul.a-paginacion li a, ul.a-paginacion li.a-disabled {
    padding: 8px 12px 7px 13px;
}

ul.a-paginacion li.a-selected a {
    font-weight: 700;
    background-color: #fff;
    background-image: none;
    color: #c45500;
    border-color: #e77600;
}

ul.a-paginacion li.a-disabled {
    color: #555;
    border: 1px solid transparent;
}

ul.a-paginacion li a, ul.a-paginacion li.a-disabled {
    display: block;
    text-decoration: none;
}

ul.a-paginacion li {
    margin-right: 4px;
}

ul.a-paginacion li {
    display: block;
    float: left;
    line-height: 16px;
    list-style: none;
    position: relative;
}

ul.a-paginacion li a {
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    background: #eff1f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border: 1px solid #6c6e73;
    border-color: #adb1b8 #a2a6ac #8d9096;
}

/*****************************************************/