
*
{
    box-sizing: border-box;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: blueviolet;
}

.general
{
    margin: 0 auto;
    max-width: 1200px;
}

#headerPrincipal
{
    /* border: 3px solid blue; */
    background-color: lightblue;
    height: 120px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/***************** Header superior *******************/
#headerSuperior
{
    height: 60%;
    background-color: yellow;
}

#headerSuperiorDerecho
{
    background-color: whitesmoke;
    display: inline-flex;
    vertical-align: middle;
    /* Centra los elementos dentro */
    align-items: center; 
}

#logo
{
    margin: 5px 20px;
    height: 80%;
    vertical-align: middle;
    align-items: center;
}

#barraBuscar
{
    height: 40px;
    width: 70%;
    border-radius: 5px;
}

#iconoCarritoCompras
{
    margin: 5px;
    vertical-align: middle;
    font-size: 22px;
}

#lblIniciarSesion
{
    font-weight: bold;
}

/************************************/


/***************** Header inferior *******************/
#headerInferior
{
    background-color: tomato;
    height: 40%;
}

#headerInferiorIzquierdo
{
    float: left;
    align-items: center; 
    background-color: lightgreen;
    height: 100%;
}


#iconoConfFiltros
{
    margin: 5px 5px 5px 20px;
    height: 35px;
    vertical-align: middle;
    align-items: center;
    background-color: lightgray;
    color: grey;
    border-radius: 5px;
    border: 2px solid transparent;
}

#headerInferiorDerecho
{
    float: right;
    align-items: center;
    height: 100%;
    display: flex;
    background-color: lightgreen;
}

.labelsHeader
{
    margin: 0px 5px ;
}

#opcionesOrdenar
{
    vertical-align: middle;
    margin: 0 8px;
    border: 1px solid rgb(31, 70, 141);
    border-radius: 5px;
}

/************************************/


/***************** Barra lateral *******************/
.barraLateral
{
    /* border: 3px solid green; */
    background-color: lightseagreen;
    float: left;
    width: 15%;
    
}

.barraLateralSecciones
{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.lblBarraLateral
{
    margin: 5px;
    font-weight: bold;
}

.cbox
{
    margin: 2px 0px;
    padding: 0px;
    background-color: white;
}

  .estellaNaranja
  {
      color: yellow;
      margin: 0px;
      padding: 0px;
      font-size: large;
      font: outline;
  }

  .estellaVacia
  {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: large;
    }
  
  .clasificacion
  {
      margin: 0px;
      padding: 0px;
      
  }


/************************************/


/***************** Main *******************/
.main
{
    /* border: 3px solid red; */
    background-color:lightslategray;
    float: right;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.articulo
{
    height: 400px;
    width: 240px;
    background-color: white;
    margin: 5px;
    
}

.imgArticulo
{
    height: 60%;
}

.detallesArticulo
{
    height: 39%;
    margin-bottom: 5px;
}

#imgArticulo
{
    height: 100%;
}

.detallesArticuloSuperior
{
    height: 75%;
    margin: 0px 5px;
}

.txtDetallesArticulo
{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-transform: uppercase;
}

#detallesArticuloValoracion
{
    display: inline-table;
    width: 100%;
}

#txtEstrellasArticulo
{
    display: inline;
    padding: 0px;
    margin: 0px;
}

#lblExistencias
{
    float: right;
    margin: 4px 5px 0 5px; /*Corregir esto*/
    color: maroon;
}

#precioArticulo
{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.letrasPequenas
{
    font-size: 10px;
    font-weight: normal;
}

.detallesArticuloInferior
{
    height: 25%;
    background-color: lightskyblue;
    display: flex;
    margin: 0px 5px;
}

.detArtInferiorDerecho
{
    background-color: brown;
    width: 55%;
    display: flex;
    align-content: center;
    
}

.botonesCantidad
{
    background-color: white;
    height: 100%;
    width: 40px;
    text-align: center;
    color: lightblue;
    margin: 0px;
    padding: 0px;
    border: 1px solid lightgray;
}

#cantidadProducto
{
    background-color: white;
    height: 100%;
    width: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 1px solid lightgray;
}

#btnAgregar
{
    background-color: blue;
    height: 100%;
    width: 45%;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

#imgBoton
{
    height: 100%;
    float: right;
}




/************************************/