@font-face {
  font-family: "Myriadpro";
  src: url("../Recursos/Fuentes/Myriadpro/myriadpro.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Myriadpro";
}

body {
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 19px;
}

#contenedorPrincipal {
  margin: 0 auto;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  border: 1px solid lightgray;
  width: 100%;

  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.general {
  width: 100%;
}

#headerPrincipal {
  height: 100px;
  width: 100%;
  margin: 0 auto;
}



/***************** Header inferior *******************/
#headerInferior {
  height: 50%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

#headerInferiorIzquierdo {
  float: left;
  align-items: center;
  height: 100%;
  display: flex;
}

#iconoConfFiltros {
  margin: 0px 5px 0px 10px;
  height: 35px;
  vertical-align: middle;
  align-items: center;
  background-color: transparent;
  color: grey;
  border-radius: 2px;
  border: 1px solid lightgrey;
  font-size: 20px;
}

#cantidadResultados {
  margin: 0px 5px 0px 0px;
}

#headerInferiorDerecho {
  float: right;
  align-items: center;
  height: 100%;
  display: flex;

}

.labelsHeader {
  margin: 0px;
  font-size: medium;
}

#opcionesOrdenar {
  margin: 0px 10px 0px 7px !important;
  border: 1px solid rgb(31, 70, 141);
  border-radius: 2px;
  border: 1px solid lightgrey;
  font-size: medium;
}

/************************************/

/***************** Barra lateral *******************/
.barraLateral {
  float: left;
  width: 15%;
  min-width: 130px;
}

.barraLateralSecciones {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-content: center;
  
}

.lblBarraLateral {
  margin: 5px 5px 5px 0px;
  font-weight: bold;
}

.lblCkechbox {
  vertical-align: middle;
}

.cbox {
  padding: 0px;
  background-color: white;
  vertical-align: top;
  margin-left: 0px;
  border-radius: 2px;
  border: 1px solid lightgrey;
}

.clasificacion {
  margin: 0px;
  padding: 0px;
  align-items: center;
  display: flex;
}

.cboxPuntuacion
{
  margin-left: 0px;
}

.estellaNaranja {
  color: orange;
  margin: 0px;
  padding: 0px;
  font-size: small;
  font-weight: bolder;
  vertical-align: middle;
}

.estellaVacia {
  margin: 0px;
  padding: 0px;
  color: orange;
  font-size: small;
  font-weight: bolder;
}

/************************************/

/***************** Main *******************/
.main {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  /* background-color: yellow; */
  border-left: 1px solid lightgrey;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

/* .contenedorSeccionArticulos
{
    background-color: khaki;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    overflow: visible;
} */

.seccionArticulos {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  overflow: visible;
}

.articulo {
  height: 430px;
  width: 260px;
  margin: 5px;
  border-radius: 2px;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.slide-container {
  position: relative;
  margin: auto;
  height: 60%;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  align-content: center;
}

.Slides {
  display: none;
  /* background-color: crimson; */
  width: 100%;
  height: 100%;
  align-content: center;
  padding: 10px;
}

#imgArticulo {
  width: 90%;
  object-fit: cover;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#primeroSlider {
  display: block;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.detallesArticulo {
  height: 39%;
  margin-bottom: 5px;
  margin: 0px 5px;

}

.detallesArticuloSuperior {
  height: 75%;
  padding: 10px 0px;

}

.txtDetallesArticulo {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  text-transform: uppercase;
  height: 58px;


  overflow:hidden;
  
}


#detallesArticuloValoracion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 0px;

}

#txtEstrellasArticulo {
  padding: 0px;
  margin: 0px;
  align-items: center;
  display: flex;
}

#detallesArticuloValoracion #txtEstrellasArticulo .estellaNaranja {
  align-items: center;
}

#lblExistencias {
  color: crimson;
}

#precioArticulo {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: center;

}

.letrasPequenas {
  font-size: 10px;
  font-weight: normal;
}

.detallesArticuloInferior {
  height: 20%;
  display: flex;
  
}

.detArtInferiorDerecho {
  width: 55%;
  display: flex;
  align-content: center;
}

.btnCantidad {
  background-color: white;
  height: 100%;
  width: 40px;
  text-align: center;
  color: #20468d;
  margin: 0px;
  padding: 0px;
  border: 1px solid lightgray;
  border-radius: 2px;
  cursor: pointer;
}

.cantidadProducto {
  background-color: white;
  height: 100%;
  width: 50px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: transparent;
  border-right: transparent;
  border-radius: 2px;
}

#btnAgregar {
  background-color: #20468d;
  height: 100%;
  width: 45%;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #20468d;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
}

/************************************/

/*********************Paginación*********************/

.paginacion {
  width: 100%;
  height: 50px;
  padding: 10px 14px !important;
}

.a-texto-centrado {
  text-align: center;
}

ul.a-paginacion {
  display: inline-block;
  margin-left: 0;
  margin: 0px;
}

ul.a-paginacion li a,
ul.a-paginacion li.a-disabled {
  padding: 8px 12px 7px 13px;
}

ul.a-paginacion li.a-selected a {
  font-weight: 700;
  background-color: #fff;
  background-image: none;
  color: crimson;
  border-radius: 2px;
  border: 1px solid crimson;
}

ul.a-paginacion li.a-disabled {
  color: #555;
  border: 1px solid transparent;
  border-radius: 2px;
}

ul.a-paginacion li a,
ul.a-paginacion li.a-disabled {
  display: block;
  text-decoration: none;
}

ul.a-paginacion li {
  margin-right: 4px;
}

ul.a-paginacion li {
  display: block;
  float: left;
  line-height: 16px;
  list-style: none;
  position: relative;
}

ul.a-paginacion li a {
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  background: #eff1f3;
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid lightgray;
  color: #20468d;
  
}

/*****************************************************/

/******************************Media query**************************************/

@media (max-width: 320px) {
  #columnaHeaderSupTres {
    width: 50px;
  }
  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  .labelsHeader,
  #opcionesOrdenar {
    font-size: small;
  }

  .resultados {
    display: none;
  }

  .barraLateral {
    display: none;
  }

  .main {
    width: 100%;
    border-left: none;
  }

  .seccionArticulos {
    justify-content: center;
  }

  .a-selected,
  .a-normal,
  .a-continuacion,
  .a-totalPaginas {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 479px) {
  #columnaHeaderSupTres {
    width: 50px;
  }
  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  .resultados {
    display: none;
  }

  .labelsHeader,
  #opcionesOrdenar {
    font-size: medium;
  }

  .barraLateral {
    display: none;
  }

  .main {
    width: 100%;
    border-left: none;
  }

  .seccionArticulos {
    justify-content: center;
  }

  .li-anterior {
    margin-left: -35px;
    width: 100px;
  }

  .a-selected,
  .a-normal,
  .a-continuacion,
  .a-totalPaginas {
    display: none !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* #contenedorPrincipal {
    background: #f00;
  } */

  #columnaHeaderSupTres {
    width: 50px;
  }
  #headerSuperiorDerecho {
    /* Centra los elementos dentro */
    width: 100%;
  }

  #btnIniciarSesionText {
    display: none;
  }

  .barraLateral, .resultados {
    display: none;
  }

  .main {
    width: 100%;
    border-left: none;
  }

  .seccionArticulos {
    justify-content: center;
  }

  .li-anterior {
    margin-left: -35px;
    width: 100px;
  }

  .a-selected,
  .a-normal,
  .a-continuacion,
  .a-totalPaginas {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  /* #contenedorPrincipal {
    background: #03f;
  } */

  .main {
    width: 80%;
  }

  .barraLateral {
    width: 20%;
  }

  .seccionArticulos {
    justify-content: center;
  }

  .articulo {
    height: 430px;
    width: 260px;
  }
}

@media (min-width: 1000px) and (max-width: 1099px) {
  /* #contenedorPrincipal {
      background: #ff0;
    } */
  
  .seccionArticulos {
    justify-content: center;
  }

  .articulo {
    /* height: 460px;
          width: 290px; */
    height: 430px;
    width: 260px;
  }
}

@media (min-width: 1100px) and (max-width: 1199px) {
  /* #contenedorPrincipal {
        background: rgb(255, 0, 76);
      } */

  .seccionArticulos {
    justify-content: center;
  }

  .articulo {
    /* height: 460px;
            width: 290px; */
    height: 430px;
    width: 260px;
  }
}

@media (min-width: 1200px) and (max-width: 1313px) {
  /* #contenedorPrincipal {
    background-color: lightcoral;
  } */

  .seccionArticulos {
    justify-content: center;
  }

  .articulo {
    height: 460px;
    width: 290px;
  }

  .txtDetallesArticulo {
    height: 60px;
    font-size: 20px;
  }

  #lblExistencias, #txtEstrellasArticulo
  {
    font-size: 16px;
  }

  #contenedorPrecioArticulo
  {
    margin-top: 8px;
  }
}

/* En 1314px pasa a 3 columnas */
@media (min-width: 1314px) and (max-width: 1400px) {
  /* #contenedorPrincipal {
    background-color: lightseagreen;
  } */
}
