/* Estilo creado para el header superior que es compartido en varias vistas */

@font-face {
    font-family: "Myriadpro";
    src: url("../Recursos/Fuentes/Myriadpro/myriadpro.ttf");
  }

/***************** Header superior *******************/
#headerSuperior {
    height: 50%;
    box-sizing: border-box;
    background-color: lightgray;
    
    /* 
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; */
  }
  
  #tablaHeaderSuperior {
    width: 100%;
    height: 100%;
  }
  
  #columnaHeaderSupUno {
    /* width: 100px; */
    width: 90px;

    /* background-color: lawngreen; */
  }
  
  #columnaHeaderSupTres {
    width: 170px;
  }
  
  .contenedorLogo {
    /* Centra los elementos dentro */
    align-items: center;
    width: 90px;
    height: 100%;
    display: inline-flex;
    vertical-align: middle;
    
    /* background-color: lightcoral; */
    }
  
  #logo {
    
    max-height: 40px;
    min-width: 90px;
    width: 80%;
    /* margin: 0 auto 0 7px; */
    vertical-align: middle;
    border-radius: 2px;

    object-fit: contain;

    /* background-color: lawngreen; */
  }
  
  .contenedorBarraBuscar {
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
    /* Centra los elementos dentro */
    align-items: center;
    float: inherit;
    height: 100%;

  }
  
  #barraBuscar {
    height: 40px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-family: "fontellofull";
    font-size: large;
  }
  
  /*Para centrar los elementos internos de un componente con float, es necesario ocupar el 100% de la altura*/
  #headerSuperiorDerecho {
    height: 100%;
    display: flex;
    /* Centra los elementos dentro */
    align-items: center;
    width: 170px;
    float: right;

  }
  
  #iconoCarritoCompras {
    margin: 5px;
    vertical-align: middle;
    font-size: 22px;
    color: #3f3f3f;
  }
  
  #btnIniciarSesion {
    font-weight: bold;
    background-color: transparent;
    border: transparent;
    padding: 5px;
    cursor: pointer;
    color: #3f3f3f;
    font-size: 15px;

  }
  
  #iconoUsuario {
    color: #3f3f3f;
    font-size: 20px;
  }
  
  /************************************/